/* stylelint-disable SelectorFormat */
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

/* light mode table header bgcolor */
.md-typeset__table th {
  background-color: #f2edfe;
}

/* dark mode table header bgcolor */
[data-md-color-scheme="slate"] .md-typeset__table th {
  background-color: hsla(var(--md-hue), 25%, 25%, 1)
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
  background-color: hsla(var(--md-hue), 25%, 25%, 1)
}

:root>* {
  --md-primary-fg-color: #1B1464;
  --md-footer-bg-color: #1B1464;
}

/* Wider content area for large screens (1920px and above)*/
@media screen and (min-width: 75em) {
  .md-grid {
    max-width: 90rem; /* default is 61rem (~976px), now ~1440px */
  }
}