*-debug.log
*-error.log
/.
/.sfdx
/dist
/lib
/package-lock.json
/tmp
node_modules
report
sfdx-hardis-*.tgz

# MacOS system files
.DS_Store

.nyc_output/

site/

config/user/

hardis-report/

.nyc_output/

site/

config/user/

megalinter-reports/

.idea

.wireit/

tsconfig.tsbuildinfo

.eslintcache
