

.cache/
.vscode/

config/user

hardis-report/

# Sensitive metadatas whose content should never be backupped !
**/*.crt-meta.xml
**/*.connectedApp-meta.xml

# Metadata that we'll never care about
**/cleanDataServices/