---
#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#######################################
# Start the job on all push to master #
#######################################
name: "Build & Deploy - CANARY"
on:
  push:
    branches:
      - "canary"

###############
# Set the Job #
###############
jobs:
  deploy:
    name: Deploy canary
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: "https://registry.npmjs.org"
          always-auth: true
          # Defaults to the user or organization that owns the workflow file
          scope: "hardisgroupcom"
      - run: yarn
      - run: yarn config set version-git-tag false && tsc -b
      - run: CANARYID=$(date '+%Y%m%d%H%M') && yarn version --prepatch --preid="canary$CANARYID"
      - run: "yarn config set network-timeout 300000 && yarn publish --tag canary || echo \"Error while publishing !!! TODO: remove\""
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  push_canary_to_registry:
    name: Push canary Docker image to Docker Hub
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Publish canary to Registry
        uses: elgohr/Publish-Docker-Github-Action@v4
        env:
          SFDX_HARDIS_VERSION: canary
          SFDX_CLI_VERSION: latest
        with:
          name: hardisgroupcom/sfdx-hardis
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: SFDX_HARDIS_VERSION,SFDX_CLI_VERSION
          tags: "canary"
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "docker.io/hardisgroupcom/sfdx-hardis:canary"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          security-checks: vuln
          severity: "CRITICAL,HIGH"
