---
#
# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions
#

#######################################
# Start the job on all push to master #
#######################################
name: "Build & Deploy - ALPHA"
on:
  push:
    branches:
      - "alpha"

###############
# Set the Job #
###############
jobs:
  deploy:
    name: Deploy alpha
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          always-auth: true
          # Defaults to the user or organization that owns the workflow file
          scope: "hardisgroupcom"
      - run: yarn
      - run: yarn config set version-git-tag false && tsc -b
      - run: ALPHAID=$(date '+%Y%m%d%H%M') && yarn version --prepatch --preid="alpha$ALPHAID"
      - run: yarn publish --tag alpha
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  push_alpha_to_registry:
    name: Push alpha Docker image to Docker Hub
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Publish alpha to Registry
        uses: elgohr/Publish-Docker-Github-Action@v4
        env:
          SFDX_HARDIS_VERSION: alpha
          SFDX_CLI_VERSION: latest
        with:
          name: hardisgroupcom/sfdx-hardis
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: SFDX_HARDIS_VERSION,SFDX_CLI_VERSION
          tags: "alpha"
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "docker.io/hardisgroupcom/sfdx-hardis:alpha"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          security-checks: vuln
          severity: "CRITICAL,HIGH"

  push_alpha_to_registry_sfdx_recommended:
    name: Push alpha Docker image to Docker Hub (with sfdx-cli version recommended by hardis)
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Publish alpha to Registry
        uses: elgohr/Publish-Docker-Github-Action@v4
        env:
          SFDX_HARDIS_VERSION: alpha
          SFDX_CLI_VERSION: "latest"
        with:
          name: hardisgroupcom/sfdx-hardis
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildargs: SFDX_HARDIS_VERSION,SFDX_CLI_VERSION
          tags: "alpha-sfdx-recommended"
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "docker.io/hardisgroupcom/sfdx-hardis:alpha-sfdx-recommended"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          security-checks: vuln
          severity: "CRITICAL,HIGH"
