name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  linux-unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsLinux.yml@main
    with:
      skipTsDepCheck: true

  windows-unit-tests:
    uses: salesforcecli/github-workflows/.github/workflows/unitTestsWindows.yml@main
    with:
      skipTsDepCheck: true

  nuts:
    needs:
      - linux-unit-tests
      - windows-unit-tests
    uses: salesforcecli/github-workflows/.github/workflows/nut.yml@main
    secrets: inherit
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    with:
      os: ${{ matrix.os }}
